.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #5800E8
}

h1 {
  color: #06C4FF;
}

p {
  color: #06C4FF;
}

ul {
  color: #06C4FF;
  padding: 0;
  background-image: none;
  list-style-image: url('../images/okay.jpg');
}

a {
  color: #06C4FF;
}

li {
  display: inline;
  font-size: 20px;
  padding: 10px;
  font-family: 'Shrikhand', cursive;

}
